.card {
    border: 1px solid #8e8e8e;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    color: rgb(66, 0, 61);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
}